@use './foundation/mixing' as mixing;
@use './foundation/variables' as box;
@use './foundation/variables' as transitions;
@use './themes/dark/dark-theme-imports.scss' as dark;
@use './themes/light/light-theme-imports.scss' as light;

* {
 box-sizing: border-box;
 border: none;
 font-family: 'Poppins';
 list-style: none;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

// Scrollbar para navegadores Chromium
::-webkit-scrollbar {
 width: 4px;
 background: #353941;
}

::-webkit-scrollbar-thumb {
 border-radius: 8px;
 background: #6c7586;
 transition: transitions.$transition-primary;
}

::-webkit-scrollbar-thumb:hover {
 background: #444b58;
}

h1,
h2 {
 @include mixing.title;
}

h3,
h4 {
 @include mixing.subtitle;
}

p {
 @include mixing.text;
}

button {
 &.btn-primary {
  @include mixing.btn-primary;
 }

 &.btn-outline {
  @include mixing.btn-outline;
 }
}

html,
body {
 overflow-x: hidden;
}

.main-content {
 align-items: center;
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 justify-content: center;
 min-height: 100vh;
 margin: 0 auto;
 padding: box.$box-onehalf;
 text-align: center;
 transition: transitions.$transition-theme;

 .theme-switcher {
  display: flex;
  gap: 1rem;
 }

 form {
  padding-bottom: 0.5rem;

  .form-group {
   label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
   }

   input {
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.8rem;
    transition: transitions.$transition-primary;
    width: 100%;

    &:focus {
     outline: none;
    }
   }
  }

  button {
   cursor: pointer;
   margin: 0 auto;
   margin-top: box.$box-quarter;
  }
 }

 @include dark.dark-theme;
 @include light.light-theme;
}
