//*> Importaci贸n de m贸dulos de estilizaci贸n para la implementaci贸n del tema claro
@use './light-globals' as light-theme-globals;

@mixin light-theme {
 &.light-theme {
  //*>  Estilos generales - tema claro
  @include light-theme-globals.light-theme-globals;
 }
}
