@use '../../foundation/variables' as colors;
@use '../../foundation/variables' as shadows;

@mixin light-theme-globals {
 background-color: colors.$light-primary-bg;

 h1,
 h2,
 h3,
 h4 {
  color: colors.$light-primary-color;

  span {
   color: colors.$light-secondary-color;
  }

  &.shadow {
   text-shadow: shadows.$light-primary-text-shadow;

   span {
    text-shadow: shadows.$light-secondary-text-shadow-light;
   }
  }
 }

 p {
  color: colors.$light-tertiary-color;

  span {
   color: colors.$light-secondary-color;
  }
 }

 button {
  &.btn-primary {
   color: colors.$light-quinary-color;
   background-color: colors.$light-primary-bg-button;

   &:hover {
    background-color: colors.$light-primary-bg-button-hover;
   }
  }

  &.btn-outline {
   color: colors.$light-primary-color;
   border: 1px solid colors.$light-primary-bg-button;

   &:hover {
    color: colors.$light-quinary-color;
    background-color: colors.$light-primary-bg-button-hover;
    border: 1px solid colors.$light-primary-bg-button-hover;
   }
  }
 }

 form {
  background: radial-gradient(
   circle,
   colors.$light-primary-bg 0%,
   colors.$light-quaternary-bg 40%,
   colors.$light-tertiary-bg 70%,
   colors.$light-secondary-bg 100%
  );
  box-shadow: shadows.$light-primary-shadow;

  .form-group {
   padding: 1rem;
   label {
    color: colors.$light-primary-color;
   }

   input {
    background: linear-gradient(90deg, colors.$light-secondary-bg 0%, colors.$light-primary-bg 50%, colors.$light-quaternary-bg 100%);
    box-shadow: shadows.$light-secondary-shadow;
    border: 2px solid colors.$light-secondary-bg;
    color: colors.$light-primary-color;

    &:focus {
     background-color: colors.$light-quaternary-bg;
     border-color: colors.$light-primary-bg;
    }
   }
  }
 }
}
