//*> Importaci贸n de m贸dulos de estilizaci贸n para la implementaci贸n del tema oscuro
@use './dark-globals' as dark-theme-globals;
@use './components/home/dark-hero-section' as dark-theme-hero-section;

@mixin dark-theme {
 &.dark-theme {
  //*>  Estilos generales - tema oscuro
  @include dark-theme-globals.dark-theme-globals;
  //*>  Estilos de componentes - tema oscuro
  @include dark-theme-hero-section.dark-theme-hero-section;
 }
}
