//*> Importaci贸n de m贸dulos de estilizaci贸n para la implementaci贸n del tema oscuro
@use './dark-globals' as dark-theme-globals;

@mixin dark-theme {
 &.dark-theme {
  //*>  Estilos generales - tema oscuro
  @include dark-theme-globals.dark-theme-globals;
 }
}
